<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>失敗頁面</title>
    <link rel="stylesheet" type="text/css" href="/index.css">

</head>

<body>
    <div class="container">
        <div class="titlestyle">
            <h2>失敗頁面</h2>
        </div>
    </div>
    <div class="container">
        <div class="formstyle">
            <p>{{ message }}</p>
            <button><a href="/">返回首頁</a></button>
        </div>
    </div>
</body>

</html>