<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員頁</title>
    <link rel="stylesheet" type= "text/css" href="/index.css">

</head>
<body>
    <div class="container">
        <div class="titlestyle">
        <h2>歡迎光臨，這是會員頁</h2>
        </div>
    </div>
    <div class="container">
        <div class="formstyle">
            <p>{{ name }}，歡迎登入系統。</p>
            <button><a href="/signout">登出系統</a></button>
        </div>
        <div class="checkMember">
            <h4>查詢會員姓名</h4>
            <input type="text" name="keyinName" id="kName">
            <button type="button" id="btn">搜尋</button>
            <div class="showHere"></div>
        </div>
    </div>
    <script src="../showAPI.js"></script>
</body>
</html>